/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #f4f6f7;
    --secondary-bg: #1e2f3d;
    --tertiary-bg: #6c757d;
    --accent-clr-light: #117eeb;
    --accent-clr-light-hover: #0d6ac9;
    --accent-clr-dark: #1e3a5f;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.w-fit-content {
    width: fit-content;
}
